$primary-color: #433763;
$secondary-color: rgb(46, 40, 40);

// Font Stacks

$font-stack-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-secondary: 'Arial Rounded MT Bold', 'Segoe UI';