<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>React App</title>
    <link href="/favicon.ico" rel="shortcut icon" />
    <link href="/index.b0927ee481e5cff1a65d.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/favicon.ico"><link href="/index.b0927ee481e5cff1a65d.css" rel="stylesheet"></head>
  <body>
    <div id="root">
    </div>
    
    <script src="/vendor.ae9379741f871b6ba2be.js" type="text/javascript"></script>
    <script src="/index.b0927ee481e5cff1a65d.js" type="text/javascript"></script>
  <script type="text/javascript" src="/vendor.ae9379741f871b6ba2be.js"></script><script type="text/javascript" src="/index.b0927ee481e5cff1a65d.js"></script></body>
</html>
